<div class="container">
  <div>
    <button (click)="goToRankingEntryForm($event)" class="btn btn-primary go-to-form">Dodaj wpis</button>
  </div>
  <h3>Aktualny ranking</h3>
    <table class="table">
        <tr>
          <th>Lp.</th>
          <th>Uczestnik</th>
          <th>Suma punktów</th>
          <th>Przebyte trasy</th>
        </tr>
        <tr *ngFor="let rankingEntry of rankingEntries; let i = index">
          <td>{{i+1}}</td>
          <td>{{rankingEntry.contestantLastName}} {{rankingEntry.contestantFirstName}}</td>
          <td>{{rankingEntry.contestantPointsSum}}</td>
          <td *ngFor = "let route of rankingEntry.contestantRoutes">
            <li>{{route}}</li>
          </td>
        </tr>
      </table>
</div>
