<div class="container">
  <div class="item-header">
    <button (click)="goToRankingEntryForm($event)" class="btn btn-primary go-to-form">Dodaj wpis</button>
    <h3>Aktualny ranking</h3>
  </div>
  <table class="table">
    <tr>
      <th>Lp.</th>
      <th>Uczestnik</th>
      <th>Suma punktów</th>
      <th>Przebyte trasy</th>
      <th></th>
    </tr>
    <tr *ngFor="let rankingEntry of rankingEntries; let i = index">
      <td>{{i+1}}</td>
      <td>{{rankingEntry.contestantLastName}} {{rankingEntry.contestantFirstName}}</td>
      <td>{{rankingEntry.contestantPointsSum}}</td>
      <td>
        <p *ngFor="let route of rankingEntry.contestantRoutes">
          {{route}}
        </p>
      </td>
      <td>
        <button class="btn btn-danger" (click)="onClick(rankingEntry.rankingEntryId)">Dyskwalfikacja</button>
      </td>
    </tr>
  </table>
</div>