<div class="container">
  <div>
    <button (click)="goToContestantForm($event)" class="btn btn-primary go-to-form">Dodaj uczestnika</button>
  </div>
  <h3>Lista uczestników</h3>
    <table class="table">
        <tr>
          <th>Lp.</th>
          <th>Nazwisko</th>
          <th>Imię</th>
        </tr>
        <tr *ngFor="let contestant of contestants; let i = index">
          <td>{{i+1}}</td>
          <td>{{contestant.lastName}}</td>
          <td>{{contestant.firstName}}</td>
        </tr>
      </table>
</div>
