<div class="container">
  <div>
    <button (click)="goToRouteForm($event)" class="btn btn-primary go-to-form">Dodaj trasę</button>
  </div>
  <h3>Lista tras</h3>
    <table class="table">
        <tr>
          <th>Lp.</th>
          <th>Nazwa trasy</th>
          <th>Punkty za przebycie</th>
        </tr>
        <tr *ngFor="let route of routes; let i = index">
          <td>{{i+1}}</td>
          <td>{{route.routeName}}</td>
          <td>{{route.points}}</td>
        </tr>
      </table>
</div>
